pipeline/12_copyactivity_datefun_multiple_files.json
{
	"name": "12_copyactivity_datefun_multiple_files",
	"properties": {
		"description": "copyactivity_datefun_multiple_files",
		"activities": [
			{
				"name": "Getdateformat",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentdateformat",
					"value": {
						"value": "@formatDateTime(utcNow(), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "adlsdevpractice4adf/input/"
					},
					{
						"name": "Destination",
						"value": "adlsdevpractice4adf/output/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "input",
							"wildcardFileName": {
								"value": "@concat(variables('filename'), variables('currentdateformat'), '.txt')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "adls_DS_inputfolder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_DS_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Getdateformat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "product_"
				}
			}
		],
		"variables": {
			"currentdateformat": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T13:40:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}