pipeline/15_copyativity_wildcardpath.json
{
	"name": "15_copyativity_wildcardpath",
	"properties": {
		"activities": [
			{
				"name": "Copy data_wildcardpath",
				"description": "Copy data_wildcardpath",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "adlsdevpractice4adf/input/wildcardpath/"
					},
					{
						"name": "Destination",
						"value": "adlsdevpractice4adf/output/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@variables('filename')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "adls_DS_inputfolder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_DS_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FIlename and its deails",
						"value": "?/* will copy the file/files based on the ?(1 char)/*(1 or more)"
					}
				],
				"typeProperties": {
					"variableName": "filename",
					"value": "file*.txt"
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T13:40:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}