pipeline/19_foreach_copyactivity.json
{
	"name": "19_foreach_copyactivity",
	"properties": {
		"activities": [
			{
				"name": "filelist",
				"description": "Foreach each activity, you may access the item @item or using a variable by assigning the name to it. This activity is best example",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fle_list",
					"value": [
						"orders.txt",
						"sales.txt",
						"products.txt"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fle_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "adlsdevpractice4adf/input/@{variables('Filename')}"
								},
								{
									"name": "Destination",
									"value": "adlsdevpractice4adf/output/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_adls_with_paramter",
									"type": "DatasetReference",
									"parameters": {
										"srcfilename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_DS_outbound",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"fle_list": {
				"type": "Array"
			},
			"Filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T16:10:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}