pipeline/23_MD_copy_dynamic_OP.json
{
	"name": "23_MD_copy_dynamic_OP",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adls_DS_inputfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "getfiledate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getprefix",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefix",
								"value": {
									"value": "@split(split(variables('filename'), '_')[1], '.')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "getfiledate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "adlsdevpractice4adf/input/"
								},
								{
									"name": "Destination",
									"value": "adlsdevpractice4adf/@{concat('output/',variables('prefix'))}/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_adls_with_paramter",
									"type": "DatasetReference",
									"parameters": {
										"srcfilename": {
											"value": "@variables('filename')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_adls_sink_w_Mulpara",
									"type": "DatasetReference",
									"parameters": {
										"DS_fileprefix": "@variables('prefix')",
										"DS_filedate": "@variables('filedate')"
									}
								}
							]
						},
						{
							"name": "Set variable_filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getprefix",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable_filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "prefix",
								"value": {
									"value": "@split(variables('filename'), '_')[0]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"prefix": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"filedate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-11T09:49:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}