pipeline/9_copyactivity_dataset_mul_parameters.json
{
	"name": "9_copyactivity_dataset_mul_parameters",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetFilename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "adls_DS_src_mul_parameter",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@variables('foldername')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adls_DS_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetFoldername",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "foldername",
					"value": "source"
				}
			},
			{
				"name": "GetFilename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetFoldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "Frequent lockout - solution.txt"
				}
			}
		],
		"variables": {
			"foldername": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T13:40:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}